/* Tin Htoo Aung, March 2015. Style sheet for Activity 5 */
html {
    color: black;
    background-color: #f2f2ff;
    font-family: geneva, serif;
    font-size: 16px;
    padding: 0 20px 0 20px;
}

h1{
    font-size: 25px;
    color: #12598b;
    font-style: italic;
    text-align: center;
}

h2{
    font-size: 20px;
    color: #4d4da6;
    text-decoration: underline;
}

p{
    color: #4d4da6;
    font-family: geneva, sans-serif;
    line-height: 1.5em;
    text-indent: 30px;
}